form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
.calc-result {
  text-align: center;
  font-size: 30px;
  color: green;
}
.calc-error {
  text-align: center;
  font-size: 20px;
  color: red;
}
